.header {
  margin-left: 3.5rem;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.nav-toggler {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.nav-bar {
  width: 66%;
  height: 5rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.nav-bar::before {
  content: '';
  height: 1px;
  width: 40%;
  background-color: #ffffff;
  position: absolute;
  top: 2.5rem;
  left: -37%;
  opacity: 0.15;
}

.nav-items {
  font-family: 'Barlow Condensed', sans-serif;
  height: 100%;
  margin: 0 19% 0 14%;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.active {
  border-bottom: 3px solid #ffffff;
}

.nav-item span {
  font-weight: 700;
  margin-right: 0.375rem;
}

@media only screen and (max-width: 1024px) {
  .header {
    margin-left: 2.5rem;
  }
  .logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .nav-bar {
    width: 70%;
  }
  .nav-bar::before {
    height: 0px;
    width: 0%;
  }
  .nav-items {
    margin: 0 3rem;
  }
  .nav-item {
    line-height: 19px;
    letter-spacing: 2.7px;
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 0 1.5rem;
  }
  .nav-bar {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }
  .nav-items {
    height: 8.75rem;
    margin: 7.5rem 0 0 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .nav-item {
    font-size: 1rem;
    width: 100%;
  }
  .nav-item:active,
  .nav-item:hover {
    border-right: 3px solid #ffffff;
    border-bottom: 0px;
  }
}
