.technology--details {
  width: 27.75rem;
  margin-left: 5rem;
}

.technology--details h3 {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .technology--details {
    margin-left: 2.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .technology--details {
    margin-top: 2.75rem;
    margin-left: 0;
    width: 28.625rem;
    text-align: center;
  }
  .technology--details h3 {
    margin-top: 1rem;
    /* font-size: 2.5rem;
    line-height: 46px; */
  }
}

@media only screen and (max-width: 600px) {
  .technology--details {
    margin-top: 1.625rem;
    width: unset;
  }
  .technology--details h3 {
    margin-top: 0.5625rem;
    /* font-size: 2.5rem;
    line-height: 46px; */
  }
}
