.destination--name {
  margin: 2.3125rem 0 1rem;
}
.destination--description {
  height: 8rem;
  overflow-y: auto;
}

@media only screen and (max-width: 1024px) {
  .destination--description {
    height: 10rem;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .destination--name {
    margin: 1.25rem 0 0;
  }
}
