.home {
  display: flex;
  padding: 1.5rem 1rem 10rem;
}

.home--left-panel {
  width: 50%;
}

.home--right-panel {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
  .home {
    flex-direction: column;
    padding: 1.5rem 5rem 8rem;
  }
  .home--left-panel {
    width: 100%;
    text-align: center;
  }
  .home--right-panel {
    width: 100%;
    margin-top: 10rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    padding: 1rem 1.5rem 5rem;
  }
  .home--right-panel {
    margin-top: 5rem;
  }
}
