.destination {
  display: flex;
  padding: 4.75rem 0 10rem;
}

.destination--left-panel {
  width: 50%;
}

.destination--right-panel {
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .destination--left-panel {
    width: 100%;
    text-align: center;
  }
  .destination--right-panel {
    width: 100%;
    margin-top: 10rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .destination--right-panel {
    margin-top: 5rem;
  }
}
