.header.header--main {
  margin-left: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  .header.header--main {
    margin-left: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    width: 90%;
  }
  .header.header--main {
    margin: 0 0.75rem;
  }
}
